<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center flexb">
            <div>
                <img class="mt-5 mb-2" src="assets/images/image.jpg" alt="comic_image" style="width: 200px">
            </div>
            <div>  
                <p>A képregény neve: <span>Marvel Voices Legacy #1</span></p>
                <p>Rajzoló: <span>Gabriele Dell'Otto</span></p>
                <p>Nyelv: <span>Angol</span></p>
                <p>Kiadási év: <span>2021</span></p>
                <p>Kiadó: <span>Marvel Comics</span></p>
                <p>Ár: <span>15$</span></p>
            </div>
       </div>
    </div>

    <app-form></app-form>
</div>